<mat-card>
  <form #contactForm="ngForm" (ngSubmit)="upsert(contactForm.value)">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ contact.name ? "Edit" : "Add" }} Contact</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="id" [(ngModel)]="contact.id" />
      <mat-form-field>
        <input
          matInput
          placeholder="Full Name"
          [(ngModel)]="contact.Name"
          required
          name="name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="contact.Email"
          required
          name="email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Phone"
          [(ngModel)]="contact.Phone"
          required
          name="phone"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Location"
          [(ngModel)]="contact.Location"
          required
          name="location"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!contactForm.form.valid"
      >
        Save
      </button>
      <button
        mat-raised-button
        color="secondary"
        (click)="remove(contact.id)"
        *ngIf="contact.id"
        type="button"
      >
        Delete
      </button>
      <a mat-button routerLink="/contact-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </form>
</mat-card>
